<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
    <h1>The Project App</h1>
    <img src="{{ url_for('static', filename='image.jpg') }}" width="500" height="500">
    
    <form method="POST" action="/todos">
        <input type="text" name="todo" maxlength="140" placeholder="Enter your task" required>
        <input type="submit" value="Create ToDo">
    </form>

    <ul>
    {%for task in task_list%}
        <li>{{ task["task"] }}</li>
    {%endfor%}
    </ul>

    <p>Devops with Kubernetes 2025</p>
</body>
</html>
